# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [4]:
number = 6

print(number)

3

##### Assinging float

In [7]:
numberFloat = 2.3
print (numberFloat)
print (numberFloat)
numberFloat = 7.2
print (numberFloat)

2.3
2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [10]:
num1 = 2
num2 = 5.4

result = num1 + num2

print (result)

# result += 2
print (result + 2)

7.4
9.4

##### Subtraction

In [17]:
result_diff = num2 - num1

print(result_diff)

(result_diff) -= 1

print(result_diff - 1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [21]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [24]:
result_div = num2/num1
print(result_div)
     
result_div /= 3
print (result_div)

2.7
0.9

##### Floor Division

In [28]:
result_floor = num2 // num1
print(result_floor)

result_floor //=2
print(result_floor)

2.0
1.0

##### Modulo

In [31]:
result_mod = 13 % 2
print(result_mod)

result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [201]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [38]:
name = "Brandon"
print(name)

Brandon

##### print() <br>
<p>Don't forget about end=' '</p>

In [44]:
print('This is my first name:', name)

print("Full Name:", name, end=' Apol')

This is my first name: Brandon
Full Name: Brandon Apol

##### String Concatenation

In [49]:
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print (full_name)

full_name += ', Jr'
print (full_name)

John Smith
John Smith, Jr

##### Type Conversion

In [51]:
number = '32'

change_type_num = int(number)

print(number)
print(change_type_num + 1)

32
33

##### input()

In [65]:
# input will always return a string

name = input('What is your name?')
print('Nice to meet you, ' + name)

age = int(input('What is your age?: '))
add_age = age + 5
print (add_age)

What is your name?Jax
Nice to meet you, Jax
What is your age?: 5
10

##### format()

In [66]:
age = input('What is your age? ')

result_string = "You are {} {} and you are getting wiser: ".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life!"
print(result_again)

What is your age? 5
You are 5 Jax and you are getting wiser:
5 is a great time in life!

##### Old Way (python 2)

In [67]:
result_string2 = 'You are %s and you look great for your age!' %age
print(result_string2)

You are 5 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [5]:
name = input('What is your name?')
color = input('What color is your vehicle?')
year = input('What year is your car?')
make = input('What is the make of your car?')
model = input('What model is your car?')
results = f"{name}, your {year} {make} {model} is {color}."
              
print(results)

What is your name?Travis
What color is your vehicle?Black
What year is your car?2022
What is the make of your car?Hyundai
What model is your car?Elantra
Travis, your 2022 Hyundai Elantra is Black.

### If Statements

In [23]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 0

# if num1 == num2:
#     print('Equal Values')
# else:
#     print("Not Equal Values")
    
if num2 < num1 or num3 > 0:
    print('Num2 is greater')
elif num1 > num2:
    print('Num1 is greater')
else:
    print('You are here')

You are here

##### 'is' keyword

In [27]:
# The 'is' keyword is for checking for the same object, but not the same value also known as '=='

num3 = 55

if num3 == 55:
    print("This is the exact number/object")

This is the exact number/object

##### 'in' keyword

In [30]:
# Check if a character is in a string

char_name = 'Frodo Baggins'

if 'Frodo' in char_name:
    print("The ring bearer")

The ring bearer

##### 'not in' keyword'

In [32]:
sega_char = 'Sonic'

if 'a' not in sega_char:
    print('a is not here...')

a is not here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [35]:
name = input('What is your name? ')

if 'p' in name:
    print('P is in the name.')
else:
    print('P is not in the name.')

What is your name? Travis
P is not in the name.

## Using 'and'/'or' with If Statements

In [38]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# if with 'and' statements
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print('True and True')
    
# if with an 'or' statements
if num_11 > num_12 or Num_13 == num_14:
    print('True and False')

True and True
True and False

### Elif Statements

In [46]:
first_name = input('What is your name? ')

if first_name == 'Smith':
    print('The name is Smith.')
elif first_name == 'Brandon':
    print('The name is Brandon.')
elif first_name != 'Max':
    print('The name is NOT Max.')
else:
    print('The name is Max.')

What is your name? Max
The name is Max.

### Else Statements

In [ ]:
# see above

### For Loops

In [62]:
# Syntax:
# for counter in condition

name = 'Travis Owen'
a_list = [1, 2, 3, 4]

# for can be ANYTHING YOU WANT

for (i) in a_list:
    print(i)
    
#if the for does not match the print, it will print the entire list.

1
2
3
4

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [67]:
name = 'Travis Owen'

for i in name:
    if i == 'a':
        continue
    print(i)

T
r
v
i
s

O
w
e
n

##### Break Statement

In [ ]:
# will break out of current loop

In [69]:
for i in range(20):

    if i ==5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
name = 'Travis Owen'

for i in name:
    pass

##### Double For Loops

In [70]:
for i in range(5):
    for j in range(5):
        print('i = ', i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [72]:
# Syntax:
# while keyword, condition statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [83]:
game_over = True

while game_over:
    print("Infinite Loop")
    user_input = input('Would you like to stop? ')
    if user_input == 'Yes':
        game_over = False

Infinite Loop
Would you like to stop? no
Infinite Loop
Would you like to stop? no
Infinite Loop
Would you like to stop? nah
Infinite Loop
Would you like to stop? Yes

##### While & For Loops Used Together

In [90]:
num = 0

while num < 5:
    print('\n While loop iteration: ' + str(num))
    
    for i in range(2):
        print('For loop iteration: ', str(i))
        
    num += 1

 While loop iteration: 0
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 1
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 2
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 3
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 4
For loop iteration:  0
For loop iteration:  1

### Built-In Functions

##### range()

In [95]:
# range(Start, Stop, Step)

for i in range(1,20,3):
    print(i)

1
4
7
10
13
16
19

##### len()

In [97]:
name= input('Give me the name of your favorite book: ')
length = len(name)
print(length)

Give me the name of your favorite book: Lord of the rings
17

##### help()

In [99]:
# Use this function to view more info about a python function.

help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [112]:
# Check a variable to find out what object family (or data type) it belongs to
#isinstance(var, type)
#Just checks to see it is what it says it is.
num = 4.5
if isinstance(num,int):
    print(f'{num} is an int ')
else:
    print(f'{num} is a float ')

4.5 is a float

abs()

In [116]:
#absolute value

# |-5| = 5

print(abs(-5))

5

### Try and Except

In [124]:
# Use this to log out graceful and useful error messages.
# Does not stop the program.

# input_num = int(input("Guess a number"))
# print('Your number is ' + str(input_num))

try:
    input_num = int(input("Guess a number"))
    print('Your number is ' + str(input_num))
except:
    print("That didn't work! Change your input to a number!")

Guess a numberapple

ValueError: invalid literal for int() with base 10: 'apple'

### Lists

##### Declaring Lists

In [161]:
list_1 = []

names = ['Max','Cindy','Kathy','Bob','Nate']
print(names)
# print(isinstance(names, list))

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']

##### Indexing a List

In [159]:
# list_name[start: stop: step]

# Single Index
print(names[3])

#print starting at index 1 going to the end
print(names[1:])

#print starting at the beginning of a list up until a number
print(names[:2])

#print starting at index 1 and going up by 2 in each iteration
print(names[1::2])

#print starting at the back and display in reverse order
print(names[::-1])

IndexError: list index out of range

##### .append()

In [174]:
names.append('Brandon')
print(names)

['Max', 'Cindy', 'Devin', 'Nate', 'Brandon']

##### .insert()

In [163]:
names.insert(3,'Devin')
print(names)

['Max', 'Cindy', 'Kathy', 'Devin', 'Bob', 'Nate', 'Brandon']

##### .pop()

In [167]:
# Defaults to the last value if no parameter is given.
# Pop returns the element that was removed in case you want to assign it to a variable.

my_name = names.pop(2)
print(my_name)
print(names)

Kathy
['Max', 'Cindy', 'Devin', 'Nate']


##### .remove()

In [175]:
# Value to be removed rather than index
# names.remove('Bob')
# print(names)

#remove multiple Brandons from list
while 'Brandon' in names:
    names.remove('Brandon')
    print(names)

['Max', 'Cindy', 'Devin', 'Nate']

##### del()

In [176]:
# Goes by index rather than value
#Be careful with del, it can cause indexing errors if not used carefully

del(names[1])
print(names)

['Max', 'Devin', 'Nate']

##### Concatenating Two Lists

In [180]:
# Will append two lists together, will NOT add the values!!!

list_2 = [0,1,2]
list_3 = [3,4,5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
#Lists can hold ANY type of other element: Including other lists
#They can go as deep as you want; this is called nested lists

names=['Max','Sam','Josh', ['Sally',['Sue','Jim'],'Tameka']]
print(names)
print(names[3][1][1])

##### Looping Through Lists

In [183]:
# Two ways to loop through a list: One is by index; the other is by using the 'in' keyword

#by index
for i in range(len(names)):
    print(names[i])
    
#Loop with 'in'

for i in names:
    print(i)

Max
Sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']
Max
Sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [240]:
current_number = 1
while True:
    cube = current_number**3
    if cube > 1000:
        break
    print(cube)
    current_number +=1

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [251]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def get_primes_up_to_limit(limit):
    primes = []
    current_number = 2

    while current_number <= 100:
        if is_prime(current_number):
            primes.append(current_number)
        current_number += 1

    return primes

result = get_primes_up_to_limit(limit)
print(result)

#I had to resort to the internet for this one. I understand the python code behind it but not the formula to get the primes.

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [250]:
age = int(input('What is your age? '))
if age < 18:
    print ('kids')
elif 18 <= age <= 65:
    print ('adults')
else:
    print ('seniors')

What is your age? 2
kids